/* Position */
.left-0{left:0} 
.right-0{right:0} 
.top-0{top:0} 
.bottom-0{bottom:0} 

/* Height */
.ht-a {height: auto;}
.ht-p100{height: 100%;}
.ht-p50{height: 50%;}
.ht-100{height: 100px;}
.ht-150{height: 150px;}
.ht-200{height: 200px;}
.ht-250{height: 250px;}
.ht-300{height: 300px;}
.ht-350{height: 350px;}
.ht-400{height: 400px;}
.ht-450{height: 450px;}
.ht-500{height: 500px;}
.ht-550{height: 550px;}
.ht-600{height: 600px;}
.ht-650{height: 650px;}
.ht-700{height: 700px;}
.ht-750{height: 750px;}
.ht-800{height: 800px;}
.ht-850{height: 850px;}
.ht-900{height: 900px;}
.ht-950{height: 950px;}
.ht-1000{height: 1000px;}
.ht-1050{height: 1050px;}
.ht-1100{height: 1100px;}
.ht-1150{height: 1150px;}
.ht-1200{height: 1200px;}

/* Absolute Heigh */
.ht-100-abs{height: 100px;}
.ht-150-abs{height: 150px;}
.ht-200-abs{height: 200px;}
.ht-250-abs{height: 250px;}
.ht-300-abs{height: 300px;}
.ht-350-abs{height: 350px;}
.ht-400-abs{height: 400px;}
.ht-450-abs{height: 450px;}
.ht-500-abs{height: 500px;}
.ht-550-abs{height: 550px;}
.ht-600-abs{height: 600px;}
.ht-650-abs{height: 650px;}
.ht-700-abs{height: 700px;}
.ht-750-abs{height: 750px;}
.ht-800-abs{height: 800px;}
.ht-850-abs{height: 850px;}
.ht-900-abs{height: 900px;}
.ht-950-abs{height: 950px;}
.ht-1000-abs{height: 1000px;}
.ht-1050-abs{height: 1050px;}
.ht-1100-abs{height: 1100px;}
.ht-1150-abs{height: 1150px;}
.ht-1200-abs{height: 1200px;}

/* Minimun Height */
.mn-ht-a{min-height: auto;}
.mn-ht-100{min-height: 100px;}
.mn-ht-150{min-height: 150px;}
.mn-ht-200{min-height: 200px;}
.mn-ht-250{min-height: 250px;}
.mn-ht-300{min-height: 300px;}
.mn-ht-350{min-height: 350px;}
.mn-ht-400{min-height: 400px;}
.mn-ht-450{min-height: 450px;}
.mn-ht-500{min-height: 500px;}
.mn-ht-550{min-height: 550px;}
.mn-ht-600{min-height: 600px;}
.mn-ht-650{min-height: 650px;}
.mn-ht-700{min-height: 700px;}
.mn-ht-750{min-height: 750px;}
.mn-ht-800{min-height: 800px;}
.mn-ht-850{min-height: 850px;}
.mn-ht-900{min-height: 900px;}
.mn-ht-950{min-height: 950px;}
.mn-ht-1000{min-height: 1000px;}
.mn-ht-1050{min-height: 1050px;}
.mn-ht-1100{min-height: 1100px;}
.mn-ht-1150{min-height: 1150px;}
.mn-ht-1200{min-height: 1200px;}

/* Absolute Minimun Height */
.mn-ht-100-abs{min-height: 100px;}
.mn-ht-150-abs{min-height: 150px;}
.mn-ht-200-abs{min-height: 200px;}
.mn-ht-250-abs{min-height: 250px;}
.mn-ht-300-abs{min-height: 300px;}
.mn-ht-350-abs{min-height: 350px;}
.mn-ht-400-abs{min-height: 400px;}
.mn-ht-450-abs{min-height: 450px;}
.mn-ht-500-abs{min-height: 500px;}
.mn-ht-550-abs{min-height: 550px;}
.mn-ht-600-abs{min-height: 600px;}
.mn-ht-650-abs{min-height: 650px;}
.mn-ht-700-abs{min-height: 700px;}
.mn-ht-750-abs{min-height: 750px;}
.mn-ht-800-abs{min-height: 800px;}
.mn-ht-850-abs{min-height: 850px;}
.mn-ht-900-abs{min-height: 900px;}
.mn-ht-950-abs{min-height: 950px;}
.mn-ht-1000-abs{min-height: 1000px;}
.mn-ht-1050-abs{min-height: 1050px;}
.mn-ht-1100-abs{min-height: 1100px;}
.mn-ht-1150-abs{min-height: 1150px;}
.mn-ht-1200-abs{min-height: 1200px;}

/* Maximun Height */
.mx-ht-a{max-height: auto;}
.mx-ht-100{max-height: 100px;}
.mx-ht-150{max-height: 150px;}
.mx-ht-200{max-height: 200px;}
.mx-ht-250{max-height: 250px;}
.mx-ht-300{max-height: 300px;}
.mx-ht-350{max-height: 350px;}
.mx-ht-400{max-height: 400px;}
.mx-ht-450{max-height: 450px;}
.mx-ht-500{max-height: 500px;}
.mx-ht-550{max-height: 550px;}
.mx-ht-600{max-height: 600px;}
.mx-ht-650{max-height: 650px;}
.mx-ht-700{max-height: 700px;}
.mx-ht-750{max-height: 750px;}
.mx-ht-800{max-height: 800px;}
.mx-ht-850{max-height: 850px;}
.mx-ht-900{max-height: 900px;}
.mx-ht-950{max-height: 950px;}
.mx-ht-1000{max-height: 1000px;}
.mx-ht-1050{max-height: 1050px;}
.mx-ht-1100{max-height: 1100px;}
.mx-ht-1150{max-height: 1150px;}
.mx-ht-1200{max-height: 1200px;}

/* Absolute Maximum Height */
.mx-ht-100-abs{max-height: 100px;}
.mx-ht-150-abs{max-height: 150px;}
.mx-ht-200-abs{max-height: 200px;}
.mx-ht-250-abs{max-height: 250px;}
.mx-ht-300-abs{max-height: 300px;}
.mx-ht-350-abs{max-height: 350px;}
.mx-ht-400-abs{max-height: 400px;}
.mx-ht-450-abs{max-height: 450px;}
.mx-ht-500-abs{max-height: 500px;}
.mx-ht-550-abs{max-height: 550px;}
.mx-ht-600-abs{max-height: 600px;}
.mx-ht-650-abs{max-height: 650px;}
.mx-ht-700-abs{max-height: 700px;}
.mx-ht-750-abs{max-height: 750px;}
.mx-ht-800-abs{max-height: 800px;}
.mx-ht-850-abs{max-height: 850px;}
.mx-ht-900-abs{max-height: 900px;}
.mx-ht-950-abs{max-height: 950px;}
.mx-ht-100-abs{max-height: 1000px;}
.mx-ht-1050-abs{max-height: 1050px;}
.mx-ht-1100-abs{max-height: 1100px;}
.mx-ht-1150-abs{max-height: 1150px;}
.mx-ht-1200-abs{max-height: 1200px;}

/* Width */
.wh-a {width: auto;}
.wh-p100 {width: 100%;}
.wh-p50 {width: 50%;}
.wh-50 {width: 50px;}
.wh-100{width: 100px;}
.wh-150{width: 150px;}
.wh-200{width: 200px;}
.wh-250{width: 250px;}
.wh-300{width: 300px;}
.wh-350{width: 350px;}
.wh-400{width: 400px;}
.wh-450{width: 450px;}
.wh-500{width: 500px;}
.wh-550{width: 550px;}
.wh-600{width: 600px;}
.wh-650{width: 650px;}
.wh-700{width: 700px;}
.wh-750{width: 750px;}
.wh-800{width: 800px;}
.wh-850{width: 850px;}
.wh-900{width: 900px;}
.wh-950{width: 950px;}
.wh-1000{width: 1000px;}
.wh-1050{width: 1050px;}
.wh-1100{width: 1100px;}
.wh-1150{width: 1150px;}
.wh-1200{width: 1200px;}

/* Absolute Width */
.wh-50-abs{width: 50px;}
.wh-100-abs{width: 100px;}
.wh-150-abs{width: 150px;}
.wh-200-abs{width: 200px;}
.wh-250-abs{width: 250px;}
.wh-300-abs{width: 300px;}
.wh-350-abs{width: 350px;}
.wh-400-abs{width: 400px;}
.wh-450-abs{width: 450px;}
.wh-500-abs{width: 500px;}
.wh-550-abs{width: 550px;}
.wh-600-abs{width: 600px;}
.wh-650-abs{width: 650px;}
.wh-700-abs{width: 700px;}
.wh-750-abs{width: 750px;}
.wh-800-abs{width: 800px;}
.wh-850-abs{width: 850px;}
.wh-900-abs{width: 900px;}
.wh-950-abs{width: 950px;}
.wh-1000-abs{width: 1000px;}
.wh-1050-abs{width: 1050px;}
.wh-1100-abs{width: 1100px;}
.wh-1150-abs{width: 1150px;}
.wh-1200-abs{width: 1200px;}

/* Minimum Width */
.mn-wh-a{min-width: auto;}
.mn-wh-100{min-width: 100px;}
.mn-wh-150{min-width: 150px;}
.mn-wh-200{min-width: 200px;}
.mn-wh-250{min-width: 250px;}
.mn-wh-300{min-width: 300px;}
.mn-wh-350{min-width: 350px;}
.mn-wh-400{min-width: 400px;}
.mn-wh-450{min-width: 450px;}
.mn-wh-500{min-width: 500px;}
.mn-wh-550{min-width: 550px;}
.mn-wh-600{min-width: 600px;}
.mn-wh-650{min-width: 650px;}
.mn-wh-700{min-width: 700px;}
.mn-wh-750{min-width: 750px;}
.mn-wh-800{min-width: 800px;}
.mn-wh-850{min-width: 850px;}
.mn-wh-900{min-width: 900px;}
.mn-wh-950{min-width: 950px;}
.mn-wh-1000{min-width: 1000px;}
.mn-wh-1050{min-width: 1050px;}
.mn-wh-1100{min-width: 1100px;}
.mn-wh-1150{min-width: 1150px;}
.mn-wh-1200{min-width: 1200px;}

/* Absolute Minimum Width */
.mn-wh-100-abs{min-width: 100px;}
.mn-wh-150-abs{min-width: 150px;}
.mn-wh-200-abs{min-width: 200px;}
.mn-wh-250-abs{min-width: 250px;}
.mn-wh-300-abs{min-width: 300px;}
.mn-wh-350-abs{min-width: 350px;}
.mn-wh-400-abs{min-width: 400px;}
.mn-wh-450-abs{min-width: 450px;}
.mn-wh-500-abs{min-width: 500px;}
.mn-wh-550-abs{min-width: 550px;}
.mn-wh-600-abs{min-width: 600px;}
.mn-wh-650-abs{min-width: 650px;}
.mn-wh-700-abs{min-width: 700px;}
.mn-wh-750-abs{min-width: 750px;}
.mn-wh-800-abs{min-width: 800px;}
.mn-wh-850-abs{min-width: 850px;}
.mn-wh-900-abs{min-width: 900px;}
.mn-wh-950-abs{min-width: 950px;}
.mn-wh-1000-abs{min-width: 1000px;}
.mn-wh-1050-abs{min-width: 1050px;}
.mn-wh-1100-abs{min-width: 1100px;}
.mn-wh-1150-abs{min-width: 1150px;}
.mn-wh-1200-abs{min-width: 1200px;}

/* Maximal Width */
.mx-wh-a{max-width: auto;}
.mx-wh-100{max-width: 100px;}
.mx-wh-150{max-width: 150px;}
.mx-wh-200{max-width: 200px;}
.mx-wh-250{max-width: 250px;}
.mx-wh-300{max-width: 300px;}
.mx-wh-350{max-width: 350px;}
.mx-wh-400{max-width: 400px;}
.mx-wh-450{max-width: 450px;}
.mx-wh-500{max-width: 500px;}
.mx-wh-550{max-width: 550px;}
.mx-wh-600{max-width: 600px;}
.mx-wh-650{max-width: 650px;}
.mx-wh-700{max-width: 700px;}
.mx-wh-750{max-width: 750px;}
.mx-wh-800{max-width: 800px;}
.mx-wh-850{max-width: 850px;}
.mx-wh-900{max-width: 900px;}
.mx-wh-950{max-width: 950px;}
.mx-wh-1000{max-width: 1000px;}
.mx-wh-1050{max-width: 1050px;}
.mx-wh-1100{max-width: 1100px;}
.mx-wh-1150{max-width: 1150px;}
.mx-wh-1200{max-width: 1200px;}

/* Absolute Maximal Width */
.mx-wh-100-abs{max-width: 100px;}
.mx-wh-150-abs{max-width: 150px;}
.mx-wh-200-abs{max-width: 200px;}
.mx-wh-250-abs{max-width: 250px;}
.mx-wh-300-abs{max-width: 300px;}
.mx-wh-350-abs{max-width: 350px;}
.mx-wh-400-abs{max-width: 400px;}
.mx-wh-450-abs{max-width: 450px;}
.mx-wh-500-abs{max-width: 500px;}
.mx-wh-550-abs{max-width: 550px;}
.mx-wh-600-abs{max-width: 600px;}
.mx-wh-650-abs{max-width: 650px;}
.mx-wh-700-abs{max-width: 700px;}
.mx-wh-750-abs{max-width: 750px;}
.mx-wh-800-abs{max-width: 800px;}
.mx-wh-850-abs{max-width: 850px;}
.mx-wh-900-abs{max-width: 900px;}
.mx-wh-950-abs{max-width: 950px;}
.mx-wh-1000-abs{max-width: 1000px;}
.mx-wh-1050-abs{max-width: 1050px;}
.mx-wh-1100-abs{max-width: 1100px;}
.mx-wh-1150-abs{max-width: 1150px;}
.mx-wh-1200-abs{max-width: 1200px;}

@media only screen and (max-width: 720px) {
/* Width Responsive */
.wh-50 {width: 100%;}
.wh-100{width: 100%;}
.wh-150{width: 100%;}
.wh-200{width: 100%;}
.wh-250{width: 100%;}
.wh-300{width: 100%;}
.wh-350{width: 100%;}
.wh-400{width: 100%;}
.wh-450{width: 100%;}
.wh-500{width: 100%;}
.wh-550{width: 100%;}
.wh-600{width: 100%;}
.wh-650{width: 100%;}
.wh-700{width: 100%;}
.wh-750{width: 100%;}
.wh-800{width: 100%;}
.wh-850{width: 100%;}
.wh-900{width: 100%;}
.wh-950{width: 100%;}
.wh-1000{width: 100%;}
.wh-1050{width: 100%;}
.wh-1100{width: 100%;}
.wh-1150{width: 100%;}
.wh-1200{width: 100%;}

/* Minimum Width Responsive */
.mn-wh-100{min-width: 100%;}
.mn-wh-150{min-width: 100%;}
.mn-wh-200{min-width: 100%;}
.mn-wh-250{min-width: 100%;}
.mn-wh-300{min-width: 100%;}
.mn-wh-350{min-width: 100%;}
.mn-wh-400{min-width: 100%;}
.mn-wh-450{min-width: 100%;}
.mn-wh-500{min-width: 100%;}
.mn-wh-550{min-width: 100%;}
.mn-wh-600{min-width: 100%;}
.mn-wh-650{min-width: 100%;}
.mn-wh-700{min-width: 100%;}
.mn-wh-750{min-width: 100%;}
.mn-wh-800{min-width: 100%;}
.mn-wh-850{min-width: 100%;}
.mn-wh-900{min-width: 100%;}
.mn-wh-950{min-width: 100%;}
.mn-wh-1000{min-width: 100%;}
.mn-wh-1050{min-width: 100%;}
.mn-wh-1100{min-width: 100%;}
.mn-wh-1150{min-width: 100%;}
.mn-wh-1200{min-width: 100%;}

/* Maximum Width Responsive */
.mx-wh-100{max-width: 100%;}
.mx-wh-150{max-width: 100%;}
.mx-wh-200{max-width: 100%;}
.mx-wh-250{max-width: 100%;}
.mx-wh-300{max-width: 100%;}
.mx-wh-350{max-width: 100%;}
.mx-wh-400{max-width: 100%;}
.mx-wh-450{max-width: 100%;}
.mx-wh-500{max-width: 100%;}
.mx-wh-550{max-width: 100%;}
.mx-wh-600{max-width: 100%;}
.mx-wh-650{max-width: 100%;}
.mx-wh-700{max-width: 100%;}
.mx-wh-750{max-width: 100%;}
.mx-wh-800{max-width: 100%;}
.mx-wh-850{max-width: 100%;}
.mx-wh-900{max-width: 100%;}
.mx-wh-950{max-width: 100%;}
.mx-wh-1000{max-width: 100%;}
.mx-wh-1050{max-width: 100%;}
.mx-wh-1100{max-width: 100%;}
.mx-wh-1150{max-width: 100%;}
.mx-wh-1200{max-width: 100%;}
}

/* Height Responsive */
.ht-50 {height: 100%;}
.ht-100{height: 100%;}
.ht-150{height: 100%;}
.ht-200{height: 100%;}
.ht-250{height: 100%;}
.ht-300{height: 100%;}
.ht-350{height: 100%;}
.ht-400{height: 100%;}
.ht-450{height: 100%;}
.ht-500{height: 100%;}
.ht-550{height: 100%;}
.ht-600{height: 100%;}
.ht-650{height: 100%;}
.ht-700{height: 100%;}
.ht-750{height: 100%;}
.ht-800{height: 100%;}
.ht-850{height: 100%;}
.ht-900{height: 100%;}
.ht-950{height: 100%;}
.ht-1000{height: 100%;}
.ht-1050{height: 100%;}
.ht-1100{height: 100%;}
.ht-1150{height: 100%;}
.ht-1200{height: 100%;}

/* Minimum Height Responsive */
.mn-ht-100{min-height: 100%;}
.mn-ht-150{min-height: 100%;}
.mn-ht-200{min-height: 100%;}
.mn-ht-250{min-height: 100%;}
.mn-ht-300{min-height: 100%;}
.mn-ht-350{min-height: 100%;}
.mn-ht-400{min-height: 100%;}
.mn-ht-450{min-height: 100%;}
.mn-ht-500{min-height: 100%;}
.mn-ht-550{min-height: 100%;}
.mn-ht-600{min-height: 100%;}
.mn-ht-650{min-height: 100%;}
.mn-ht-700{min-height: 100%;}
.mn-ht-750{min-height: 100%;}
.mn-ht-800{min-height: 100%;}
.mn-ht-850{min-height: 100%;}
.mn-ht-900{min-height: 100%;}
.mn-ht-950{min-height: 100%;}
.mn-ht-1000{min-height: 100%;}
.mn-ht-1050{min-height: 100%;}
.mn-ht-1100{min-height: 100%;}
.mn-ht-1150{min-height: 100%;}
.mn-ht-1200{min-height: 100%;}

/* Maximum Height Responsive */
.mx-ht-100{max-height: 100%;}
.mx-ht-150{max-height: 100%;}
.mx-ht-200{max-height: 100%;}
.mx-ht-250{max-height: 100%;}
.mx-ht-300{max-height: 100%;}
.mx-ht-350{max-height: 100%;}
.mx-ht-400{max-height: 100%;}
.mx-ht-450{max-height: 100%;}
.mx-ht-500{max-height: 100%;}
.mx-ht-550{max-height: 100%;}
.mx-ht-600{max-height: 100%;}
.mx-ht-650{max-height: 100%;}
.mx-ht-700{max-height: 100%;}
.mx-ht-750{max-height: 100%;}
.mx-ht-800{max-height: 100%;}
.mx-ht-850{max-height: 100%;}
.mx-ht-900{max-height: 100%;}
.mx-ht-950{max-height: 100%;}
.mx-ht-1000{max-height: 100%;}
.mx-ht-1050{max-height: 100%;}
.mx-ht-1100{max-height: 100%;}
.mx-ht-1150{max-height: 100%;}
.mx-ht-1200{max-height: 100%;}
}