@import "sub_fonts.css";
.login-form-1 {
    font-family: Poppins Reguler;
    width: 450px;
    height: 100%;
    margin: auto;
    box-shadow: 0 0 3px 0;
    border-radius: 20px;
}
.login-form-1 h1 {
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
.login-form-1 form div{
    text-align: center;
}
.login-form-1 form div input {
    color: black;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    width: 80%;
    border: 2px transparent;
    background-color: #eee;
}
.login-form-1 form {
    text-align: center;
}
.login-form-1 form input {
    font-weight: bold;
    color: black;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    width: 385px;
    border: 2px transparent;
}
.lfb-1:hover {
    background-color: aqua;
    color: #fff;
}
.login-form-1 form p {
    text-align: center;
    padding: 10px;
}
.login-form-1 form p a {
    color: rgb(8, 126, 126);
}